# Java #
*.class
# Vim Files #
*~
*.swp

# Package Files #
*.jar
*.war
*.ear
# Carpeta para cosas de prueba #
checks/

# Extras #
*.db

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
